@import 'src/styles/variables.scss';

.Main {
	.create-post-btn-wrap {
		position: fixed;
		background-color: white;
		width: 100%;
		max-width: $max-width;
		left: 50%;
		transform: translateX(-50%);

		.create-post-btn {
			border-radius: 20px;
			background-color: $base-color;
			width: 100%;
			padding: 15px 20px;
			border: none;
			color: white;
			font-size: 24px;
		}
	}

	[data-component='post-list'] {
		padding-top: 70px;
	}
}
