.Comment-form {
	position: fixed;
	top: calc(100% - 70px);
	height: 50px;
	width: 100%;
	max-width: 640px;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	input {
		width: 80%;
		border-radius: 10px 0 0 10px;
	}
	button {
		width: 20%;
	}
}
