@import 'src/styles/variables.scss';

.Header {
	display: flex;
	position: fixed;
	width: 100%;
	max-width: $max-width;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	padding: 0 16px;
	background-color: white;

	#back-icon {
		width: 36px;
		height: 36px;
	}

	a {
		font-size: 36px;
	}
}
